{:deps
 {org.clojure/clojure       {:mvn/version "1.9.0"}
  org.clojure/java.jdbc     {:mvn/version "0.7.1"}
  org.clojure/core.async    {:mvn/version "0.3.443"}
  com.h2database/h2         {:mvn/version "1.4.192"}
  org.postgresql/postgresql {:mvn/version "42.1.4"}
  com.datomic/clj-client    {:mvn/version "0.8.606"}
  omnypay/nomad             {:git/url "git@github.com:omnypay/nomad.git"
                             :sha     "66946eb8cbd3046f53f97be534fef724cf1ddc1c"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {com.datomic/datomic-free {:mvn/version "0.9.5656"}
                 com.cognitect/test-runner
                 {:git/url "git@github.com:cognitect-labs/test-runner"
                  :sha     "5fb4fc46ad0bf2e0ce45eba5b9117a2e89166479"}}
   :main-opts   ["-m" "cognitect.test-runner"]}}}
